/* Mobile */
@media (max-width: 740px) {
    #nav {
        display: block;
    }
    #nav >li {
        display: block;
    }
    #header {
       overflow: hidden;
    }
    #header .search-button {
        display: none;
    }
    #header .mobile-menu-search {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    } 
    #content .mem-item {
        width: 100%;
        margin-top: 30px;
    }  
    #content .mem-img {
        width: 60%;
    }
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    .contact-form {
        margin-top: 16px;
    }
} 